<div class="flash-messages">
    <% if (errorMessages.length > 0) { %>
        <% errorMessages.forEach(function(message) { %>
            <div class="alert alert-danger" role="alert">
                <%= message %>
            </div>
        <% }); %>
    <% } %>
    <% if (successMessages.length > 0) { %>
        <% successMessages.forEach(function(message) { %>
            <div class="alert alert-success" role="alert">
                <%= message %>
            </div>
        <% }); %>
    <% } %>
</div>
